/* font-family: 'AvenirNext LT Pro'; */

/* 
    --gray: #1a1a29;
    --blue: #219bb5;
    --white: #ffffff; 
*/

:root{
    --gray: #1a1a29;
    --blue: #323536;
    --white: #ffffff;
    --black: #323536;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    font-family: 'Neue Montreal';
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
}

.container{
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    max-width: 1350px;
    width: 100%;
    z-index: 30;
}

.container-fluid{
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1560px;
    width: 100%;
}

.container-mini{
    max-width: 940px;
    width: 100%;
}

p, .list-text{
    margin-bottom: 1.5em;  
    font-weight: normal;
    opacity: 0.7;
}

p strong, .list-text strong{
    font-weight: 500;
}

p a{
    color: var(--blue);
}

p:last-child{
    margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: inherit;
}

small{
    font-size: 70%;
    line-height: 1.1;
    display: inline-block;
}

h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 0.88;
    margin-bottom: 0.8em;
}

h2{
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 47px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 span{
    color: var(--blue);   
}

h3{
    margin-top: 0;
    font-size: 38px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: .6em;
    letter-spacing: 0.03em;
}

h4{
    margin-top: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 1.2em;
    font-family: 'Neue Montreal';
}

h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 0.4em;
    letter-spacing: 0.03em;
}

h6{
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.04em;
}

b{
    font-weight: bold;
}

.text-dark{
    color: var(--black) !important;
}

.lead{
    font-size: 20px;
    font-weight: normal;
}

.btn{
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    padding: 8px 22px;
    display: inline-flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 30px;
    background-size: 200%;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btn-lg{
    padding: 11px 32px;
    min-width: 200px;
    font-size: 14px;
}

.btn svg{
    margin-left: 5px;
}

.btn-cta{
    color: #323536;
    background: #fff;
    border-color: #fff;
}
.btn-cta:hover, .btn-cta-dark{
    color: #323536;
    background: #fff;
    border-color: #323536;
}
.btn-cta svg{
    filter: invert(1);
}

.btn-link{
    color: var(--blue);
    text-decoration: none;
}
.btn-link:hover{
    color: var(--blue);
    opacity: .6;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-cta:disabled {
    color: #fff;
    background-color: var(--black);
    border-color: var(--black);
}

.table-light .btn-cta{
    border-color: #343434;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-menu{
    left: 100%;
    opacity: 0.8;
    display: none;
    position: absolute;
    margin: 12px 0 0 15px;
}
.btn-menu svg{
    margin: 0;
    width: 36px;
    height: 36px;
}

.text-blue{
    color: var(--blue);
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    position: absolute;
}

.header span{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.header-logo{
    display: flex;
    font-weight: 700;
    align-items: center;
    color: var(--white);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo:hover{
    color: inherit;
}

.header-logo img{
    width: 50px;
    margin-right: 15px;
}

.bg-black, .bg-dark{
    color: #323536;
    background-color: #fff !important;
}

/* sidebar */
.side {
    left: 0;
    z-index: 4;
    width: 96px;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--black);
    /* background-position: left center;
    background-image: linear-gradient(to bottom, #00d2ff 0%, #3a7bd5  100%); */
}
.icon {
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-left: 16px;
    position: relative;
    z-index: 6;
}
.icon img{
    max-width: 100%;
}
.sliding-text {
    bottom: 0;
    position: fixed;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    margin-left: 64px;
    white-space: nowrap;
    /* width: calc(100vh - 166px); */
    width: 100vh;
    transform: rotate( -90deg );
    transform-origin: bottom left;
}
.sliding-text span{
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}
/* sidebar End */

.home-banner{
    padding-top: 15%;
    min-height: 100vh;
    text-align: center;
    position: relative;
    padding-bottom: 9%;
    background-size: cover;
    background-position: top center;
    /* background-image: url('../assets//images/banner-bg.png'); */
}

.home-banner h1{
    text-transform: uppercase;
}

.home-banner p{
    opacity: 1;
}

.home-banner h4{
    margin-bottom: 35px;
}

.home-banner .btn{
    margin-bottom: 10px;
    margin-right: 12px;
}

.home-banner-bg{
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    -o-object-position: right;
    object-position: right;
}

.subtitle{
    margin-bottom: 55px;
}

.title-about{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10%;
}

.platform-title{
    margin-top: 90px;
    margin-bottom: 35px;
}

.banner-items, .banner-item{
    display: flex;
    align-items: center;
}
.banner-item{
    margin-right: 45px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}
.banner-item svg{
    margin-right: 10px;
}

h2.bottom-title{
    position: relative;
    margin-top: 95px;
    font-weight: 700;
    font-size: 40px;
    z-index: 30;
}
h2.bottom-title svg{
    position: absolute;
    margin-top: 5px;
    z-index: -1;
    left: -70px;
    top: 0;
}

.feature-item{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 20px;
    font-size: 26px;
    justify-content: space-between;
    background: var(--black);
    color: var(--white);
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 20px;
}

.invester-list{
    max-width: 320px;
    display: block;
    margin: auto;
    width: 100%;
}
.invester-item{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 20px 25px;
    line-height: 1.3;
    font-size: 25px;
    min-height: 125px;
    color: var(--white);
    background: var(--black);
    box-shadow: 0 0 20px rgb(255 255 255 / 20%);
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 20px;
}
li .invester-item{
    margin-top: -15px;
    position: relative;
    left: 0;
}
li .invester-item:hover{
    left: -20px;
    color: var(-blue);
}

.team-item{
    font-size: 25px;
}
.team-item p{
    padding-bottom: 25px;
    line-height: 1.3;
    opacity: 0.9;
}
.team-item-icon{
    height: 108px;
    width: 108px;
    min-width: 108px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px 20px 25px;
    background: var(--black);
    box-shadow: 0 0 20px rgb(255 255 255 / 20%);
}
.team-item-icon svg, .team-item-icon img{
    display: block;
    margin: auto;   
}
.team-item-icon img{
    height: 37px;
}

.team-member{
    max-width: 230px;
}

.team-member img{
    border-radius: 15px;
    margin-bottom: 25px;
    max-height: 235px;
}
.team-member p{
    opacity: 1;
}
.team-member h4{
    margin-bottom: 3px;
    font-weight: bold;
    display: inline-flex;
    align-items: flex-start;
}
.team-member h4 a{
    margin-left: 20px;
    position: relative;
    top: -5px;
}
.team-member h4 a img{
    display: block;
}

.footer{
    font-size: 15px;
}

.footer a{
    text-decoration: none;
    color: var(--white);
}
.footer li{
    margin-bottom: 8px;
}
.footer li a{
    font-size: 15px;
    font-weight: normal;
}
.footer li a:hover{
    color: var(--white);
}

.footer h6{
    font-size: 18px;
}

.footer-logo{
    display: flex;
    font-weight: 700;
    align-items: center;
    color: var(--white);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-logo:hover{
    color: inherit;
}

.footer-logo img{
    width: 50px;
    padding: 8px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: var(--white);
}

.footer-social svg, .footer-social img{
    width: 42px;
    height: 42px;
}

.footer-social a{
    margin: 0 8px;
    display: inline-block;
}


/* Dashboard */
.header-top{
    background-color: var(--black);
    position: -webkit-sticky;
    padding: 20px 30px;
    margin-left: 210px;
    position: sticky;
    z-index: 55;
    top: 0px;
}
.sidebar{
    top: 0px;
    left: 0px;
    width: 210px;
    height: 100%;
    z-index: 999;
    position: fixed;
    background: var(--black);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    /* background: var(--gray) url('../assets/images/sidebarBg.png') no-repeat center top / auto 200%; */
}

.sidebar-inner{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
}

.sidebar-logo{
    padding: 25px 0;
    text-align: center;
}

.sidebar-logo img{
    max-width: 80px;
    width: 100%;
}

.sidebar-inner ul{
    flex-grow: 1;
    overflow: auto;
    text-shadow: rgb(0 0 0 / 0%) 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
}
.sidebar-inner ul li{
    display: block;
    margin-bottom: 8px;
}
.sidebar-inner ul a{
    font-family: 'Neue Montreal';
    position: relative;
    margin: 4px 0px;
    font-size: 15px;
    color: var(--white);
    letter-spacing: 1px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 4px solid transparent;   
}
.sidebar-inner ul a svg{
    margin-right: 12px;
}
.sidebar-inner ul a:hover, .sidebar-inner ul a.active{
    border-left-color: var(--white);
    background-color: rgba(255, 255, 255, 0.3);
}

.dashboard-view{
    min-height: calc(100vh - 74px);
    background-color: var(--white);
    color: var(--blue);
    margin-left: 210px;
}

.info-card{
    margin-top: 50px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.info-card-icon{
    top: -50px;
    text-align: center;
    position: relative;
    margin-bottom: -30px;
}
.info-card-icon svg{
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    border-radius: 50%;
}
.info-card-body{
    padding: 5px 25px 30px;
}
.info-card-body p{
    min-height: 120px;
}

.section-title{
    margin-bottom: 30px;
}
.section-title span{
    font-weight: 400;
}
.card-sale{
    border-radius: 15px;
    padding: 20px 20px 0;
    text-decoration: none;
    background: var(--white);
    color: inherit !important;
    border: 3px solid transparent;
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.card-sale:hover{
    border-color: var(--blue);   
}
.card-sale-heading{
    margin-bottom: 20px;
}
.card-sale-title img{
    border: 1px solid var(--blue);
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: rgba(33, 155, 181, .2);
    border: none;
    border-radius: 5px;
    color: var(--blue);
}
.status svg{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
.card-sale-status > img{
    width: 28px;
}

.price {
    color: var(--blue);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    font-family: 'AvenirNext LT Pro';
    word-break: break-all;
}

hr{
    height: 2px !important;
    background-image: linear-gradient(253.34deg, var(--blue) 50.44%, rgba(255, 255, 255, .3) 11.3%, var(--blue) 50.44%);
}

.card-sale-info img{
    width: 32px;
    height: 25px;
    min-width: 20px;
    margin-right: 15px;
}
.card-sale-info p{
    margin-bottom: 4px;
}
.card-sale-info p span{
    color: var(--blue);
}
.card-sale-info h3{
    margin-bottom: 0;
}
.card-sale-info h3{
    font-size: 32px;
}
.card-sale-info > div{
    max-width: 30%;
    flex: 0 0 30%;
}
.card-sale-info > div:nth-child(2){
    max-width: 40%;
    flex: 0 0 40%;
}

.progress{
    height: 25px;
    border: none;
    border-radius: 25px;
    background-color: #e6ecf1;
}
.progress-bar{
    background-color: var(--blue);
    background-image: linear-gradient(to left, #000 0%, #343434  100%)
}
.progress_bar_tag{
    position: absolute;
    position: absolute;
    width: 1px;
    min-width: 1px;
    border-radius: 2px;
    height: 35px;
    background-color: rgba(52, 52, 52, 0.4);
    bottom: 12px;
    z-index: 1;
    left: 0;
}
.progress_bar_tag p{
    top: -16px;
    left: -10px;
    font-size: 12px;
    position: relative;
}

.bt-card{
    padding: 30px;
    font-size: 20px;
    background: var(--white);
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 15px;
}
.bt-card svg{
    margin-right: 15px;
    color: var(--blue);
    min-width: 60px;
    height: 60px;
    width: 60px;
}
.bt-card h3{
    color: var(--blue);
}
.grad-line span{
    background-image: linear-gradient(253.34deg, #000 11.3%, #999 106.44%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    position: relative;
}
.grad-line span:after{
    content: "";
    height: 8px;
    width: 65%;
    background-image: linear-gradient(253.34deg, #000 11.3%, #999 106.44%);
    position: absolute;
    left: 3px;
    bottom: -10px;
    transform: rotate(-3deg);
    border-radius: 0.1875rem;
}

.search-bar .input-group-text, .search-bar .form-control{
    box-shadow: none !important;
    outline: none !important;
    border: none;
}
.search-bar .input-group-text{
    color: var(--blue);
}
.search-bar .input-group-text svg{
    width: 25px;
    height: 25px;
}
.search-bar .form-control{
    color: #fff;
}
.search-bar{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--blue);
}

.table-responsive{
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.table{
    margin: 0;
    font-size: 14px;
    font-family: 'Neue Montreal';
}
.table .btn{
    white-space: nowrap;
}
.table th{
    white-space: nowrap;
    padding: 10px 18px;
    font-weight: 500;
}
.table td{
    white-space: nowrap;
    padding: 10px 18px;
    font-weight: normal;
    vertical-align: middle;
}
.table>:not(:first-child){
    border-top-width: 1px;
}
.project-name img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--blue);
}
.project-name h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 5px;
}
.project-name .muted{
    color: #9daab6;
    font-size: 12px;
}

.dashboard-footer{
    margin-left: 210px;
    padding: 15px 30px;
}
.dashboard-footer a{
    font-size: 16px;
    margin-left: 20px;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}
.dashboard-footer a:hover{
    color: var(--white);
}
.dashboard-view h1{
    line-height: 1.18;
}
.modal-content{
    color: var(--black);
    background-color: var(--white);
}
.modal-header, .modal-footer{
    border: none;
}



.staking-tvl-wrapper{
    width: 100%;
    margin: auto;
    padding: 10px;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.staking-tvl-item{
    padding: 10px;
}
.staking-tvl-wrapper h2{
    margin-bottom: 0;
}
.staking-tvl-wrapper img{
    margin-right: 10px;
}
.staking-divider{
    background-color: #e6ecf1;
    margin: auto;
    height: 55px;
    opacity: .4;
    width: 1px;
}
.copy-text{
    cursor: pointer;
}
.tooltip > .tooltip-inner{
    background-color: var(--blue);
}
.tooltip > .tooltip-inner svg{
    margin-right: 4px;
    margin-top: -3px;
}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{
    border-top-color: var(--blue);
}
.title-icon{
    margin-right: 12px;
    width: 30px;
}
.toast-container{
    z-index: 9999;
    right: 10px !important; 
    bottom: 10px !important;
    position: fixed !important;
}
.toast-container > div{
    width: auto;
    min-width: 185px;
    text-align: center;
    color: #fff !important;
    background-color: var(--black);
}

.stak-card{
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.input-group{
    border-radius: 10px;
    border: 1px solid var(--blue);
}
.search-bar .input-group{
    border: none;
    border-radius: 0;
}
.input-group .form-control{
    color: var(--blue);
    border: none !important;
    box-shadow: none !important;
}
.input-group .form-control, .input-group .input-group-text{
    background-color: transparent !important;
    border: none !important;
    font-size: 18px;
}

.rounded-10{
    border-radius: 10px;
}

.stak-card h2{
    font-weight: 500;
    line-height: 1;
}
.stak-card .d-flex h2{
    line-height: 1;
}
.stak-card.py-4{
    padding-top: 34px !important;
    padding-bottom: 34px !important;
}
p h2{
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
}
.line-height-1{
    line-height: 1;
}

.tab-card-heading{
    margin-bottom: 30px;
}
.tab-card-heading img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--blue);
}
.tab-card-heading h5, .tab-card-heading p{
    line-height: 1;
}
.tab-card{
    height: 100%;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}
.nav-tabs{
    border: none !important;
}
.tab-content{
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    border-radius: 0 0 20px 20px;
    padding: 20px;
}
.nav-tabs li{
    margin-right: 20px;
    margin-bottom: 0;
}
.nav-tabs li button.nav-link{
    margin: 0;
    border: none;
    font-size: 16px;
    font-weight: 500;
    min-width: 130px;
    padding: 10px 30px;
    color: var(--black);
    background-color: #f7f7f7;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -7px 12px rgb(53 53 53 / 10%);
}
.nav-tabs li button.nav-link.active, .nav-tabs li button.nav-link:hover{
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    background-color: var(--blue);
    color: var(--white);
}

.account-box{
    padding: 30px 20px !important;
    max-width: 560px;
    margin: auto;
    width: 100%;
}
.account-box svg{
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
}

.login-area{
    padding: 8% 0;
}

.login-box{
    box-shadow: 0 0 20px rgb(53 53 53 / 40%);
    margin: 60px auto 40px;
    border-radius: 20px;
    max-width: 520px;
    padding: 35px;
    width: 100%;
}

.login-box .input-group-text img{
    width: 25px;
}
.form-group .input-group-text img{
    width: 15px;
}
.login-box label{
    font-size: 16px;
    font-weight: normal;
}
.login-box a{
    text-decoration: none !important;
}
.login-box a:hover{
    color: #000 !important;
}

.btn-facebook{
    background-color: #4c69ba;
    min-width: 250px;
    color: #fff;
}
.btn-twitter{
    background-color: #1DA1F2;
    min-width: 250px;
    color: #fff;
}

.social-media a{
    margin: 0 10px;
}
.social-media a:hover{
    opacity: 0.5;
}
.list-group-item{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 14px;
    padding-bottom: 14px;
}
.list-group-item h2{
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
}
.input-group h2{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
}
.list-group-item{
    font-size: 16px;
    font-weight: normal;
}
.list-group-item img{
    display: block;
}
.list-group-item div{
    font-size: 16px;
    font-weight: 600;
}

.steps_wrapper {
    width: 100%;
    overflow-x: auto;
}
.steps_wrapper .steps {
    display: flex;
    width: 90%;
    max-width: 1200px;
    min-width: 1000px;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.steps_wrapper .steps .step {
    width: 100%;
    max-width: 200px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.steps_wrapper .steps .step .step-icon-wrapper {
    width: 88px;
    min-width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    display: grid;
    place-items: center;
    margin-bottom: 25px;
}
.steps_wrapper .steps .step .step-icon-wrapper>div {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: grid;
    background: #9daab6;
    place-items: center;
}
.steps_wrapper .steps .step .step-icon-wrapper>div.highlight {
    background: linear-gradient(253.34deg, #00d2ff 11.3%, #3a7bd5 106.44%);
}
.steps_wrapper .steps .step .step-text .title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 10px;
}
.steps_wrapper .steps .step .step-text .date, .steps_wrapper .steps .step .step-text .time {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
.steps_wrapper .steps .horizontal-line {
    display: block;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 1px;
    background-color: #74818d;
}
.form-group-disabled{
    opacity: .7;
    cursor: not-allowed;
}
.form-group-disabled > *{
    pointer-events: none;
}
.user-process{
    position: relative;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    z-index: 1;
}
.user-process:before{
    background: linear-gradient(253.34deg, #00d2ff 11.3%, #3a7bd5 106.44%);
    position: absolute;
    margin: auto;
    z-index: -1;
    content: "";
    height: 5px;
    width: 75%;
    top: 30px;
    right: 0;
    left: 0;
}
.user-process > div{
    text-align: center;
    padding: 0 5px;
    flex: 1;
}
.user-process img{
    height: 70px;
    display: block;
    margin: 0 auto 15px;
}

.offset-icon{
    width: 140px;
    display: block;
    margin: -104px auto 10px;
}